@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Unbounded:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-ui: "JetBrains Mono", monospace;
  --font-display: "Unbounded", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-primary: #333333;

}