@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Unbounded:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-ui: "JetBrains Mono", monospace;
  --font-display: "Unbounded", sans-serif;
  --color-primary: #333333;
}